@font-face {
    font-family: 'MyFont';
    src: url('./BebasNeue.otf');
    font-weight: 800;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'MyFont';
}